/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant {
  position: relative; 
  overflow: hidden; 
  padding: 0 !important; 
}

.Treant > .node,
.Treant > .pseudo { 
  position: absolute; 
  display: block; 
  visibility: hidden;
  width: 480px;
  height: 245px; 
  clip-path: polygon(0% 9.375%, 19.792% 9.375%, 15.625% 0%, 83.784% 0%, 79.459% 9.375%, 97.396% 9.375%, 97.396% 90.625%, 79.459% 90.625%, 83.784% 100%, 15.625% 100%, 19.792% 90.625%, 0% 90.625%);
  background-image: url("https://drsaeva.github.io/ex3charmtree/cascade-box-empty.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFF7E0;
}

.node-name {
  position: center;
  text-align: center;
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { 
  visibility: visible; 
}

.Treant > .pseudo { 
  width: 0; 
  height: 0; 
  border: none; 
  padding: 0; 
}

.Treant .collapse-switch { 
  width: 3px; 
  height: 3px; 
  display: block; 
  border: 1px solid black; 
  position: absolute; 
  top: 1px; 
  right: 1px; 
  cursor: pointer; 
}

.Treant .collapsed .collapse-switch {
  background-color: #868DEE; 
}

.Treant > .node img {	
  max-width:100%; 
  height:auto; 
  float: left; 
}
