/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant {
  position: relative; 
  overflow: hidden; 
  padding: 0 !important; 
}

.Treant > .node,
.Treant > .pseudo { 
  position: absolute; 
  display: block; 
  visibility: hidden;
  padding: 3px;
  max-width: 500px;
  height: auto;
  border: 5px; 
  solid #000; 
  clip-path: polygon(0% 15%, 20% 15%, 15% 0%, 85% 0%, 80% 15%, 100% 15%, 100% 85%, 80% 85%, 85% 100%, 15% 100%, 20% 86%, 0% 85%);
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { 
  visibility: visible; 
}

.Treant > .pseudo { 
  width: 0; 
  height: 0; 
  border: none; 
  padding: 0; 
}

.Treant .collapse-switch { 
  width: 3px; 
  height: 3px; 
  display: block; 
  border: 1px solid black; 
  position: absolute; 
  top: 1px; 
  right: 1px; 
  cursor: pointer; 
}

.Treant .collapsed .collapse-switch {
  background-color: #868DEE; 
}

.Treant > .node img {	
  max-width:100%; 
  height:auto; 
  float: left; 
}
